.new-message {
  border: 1px solid lightgrey;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.inline-form {
  display: inline;
}

.edit-textarea {
  width: 100%;
  min-height: 100px;
  padding: 10px;
}

.chat-btn {
  padding: 20px;
}

.main-footer {
  background-color: lightgrey;
  padding: 30px 0 30px 0;
}
